.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso faz o contêiner ocupar a altura total da viewport */
}

.cadastroFormContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; 
  text-align: center;
}

.cadastroFormContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.formGroup label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.formGroup input:focus {
  border-color: #007bff;
  outline: none;
}

.passwordStrength {
  width: 100%;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  display: inline-flex;
}

.passwordStrength.fraca {
  color: #ff0000;
}

.passwordStrength.media {
  color: #ffa500;
}

.passwordStrength.forte {
  color: #008000;
}

.cadastroFormContainer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastroFormContainer button:hover {
  background-color: #0056b3;
}

.cadastroFormContainer p {
  color: #ff0000;
  font-size: 14px;
}

.formGroup.passwordToggle {
  display: flex;
  align-items: center;
}

.passwordToggle .inputMostraSenha {
  width: 30px;
  height: 20px;
  margin-left: 0px;
}

.passwordToggle .labelMostraSenha {
  text-align: right;
}

.radioGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.radioGroup label {
  font-size: 14px;
  color: #333;
  text-align: center;
}
